* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #d3bebe;
  padding: 40px 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.list {
  margin: 0;
  padding: 0;
}

.main-sheet {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px gray;
}

.sidebar {
  background: #422531;
  /*--------make corrections---------*/
  max-width: 370px;
  width: 100%;
  /*--------make corrections---------*/
  padding: 40px 0 40px 0;
}

.sidebar .container {
  margin-left: 40px;
  margin-right: 40px;
  word-break: break-all;
}
.sidebar .container + .container {
  margin-top: 60px;
}
.photo {
  display: block;
  /* max-width: 370px;
  width: 100%; */
  max-width: 100%;
  height: auto;
}

.container.name {
  /* margin-top: 20px;
  margin-bottom: 60px;
  margin-bottom: 20px; */

  color: #fff;
  text-align: center;

  font-size: 20px;
  font-weight: 700;
}

.container.name .link {
  color: #9885b2;
  text-decoration: none;
}

.container.name .list,
.container.social .list {
  list-style: none;
}

.sidebar .title {
  color: #a3a2a2;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 600;
}

.sidebar .text {
  color: #fff;
  margin-left: 15px;
}

.skills .item,
.personality .item,
.hobbies .item,
.experience .item,
.education .item {
  color: #c77a8c;
  margin-left: 15px;
}

.skills .dots-dark {
  color: #fff;
  margin-left: 10px;
}

.skills .dots-lidht {
  color: grey;
}

.social .list {
  display: flex;
}

.icon-social {
  height: 20px;
  width: 20px;
}

.social .link {
  fill: #ffffff;
}

.social .link:hover,
.social .link:focus {
  fill: #c77a8c;
}

.social .item + .item {
  margin-left: 20px;
}

.mainbar {
  padding: 60px 50px 60px 50px;
  color: #422531;
  text-align: justify;
}

.mainbar .container + .container {
  margin-top: 40px;
}

.container.description .item {
  margin-bottom: 15px;
  list-style: none;
}

.mainbar .title {
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
}

.mainbar .subject {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.mainbar .text {
  margin-left: 15px;

  color: #422531;
}
.date {
  color: #c77a8c;
  font-style: oblique;
}
.block + .block {
  margin-top: 30px;
}

.education .list + .list {
  margin-top: 15px;
}
