body {
  background: $bg-color-layer;
  padding: 20px 10px;

  font-family: $font-family-basic;
  font-size: $font-size-basic;
  font-weight: $normal;
  line-height: $font-height-basic;

  @media screen and (min-width: $width-tablet) {
    font-size: $font-size-secondary;
  }

  @media screen and (min-width: $width-desktop) {
    padding: 40px 20px;
  }
}

.list {
  margin: 0;
  padding: 0;
}

.main-sheet {
  background: $bg-color-mainbar;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px gray;
}

.sidebar {
  background: $bg-color-sidebar;
  /*--------make corrections---------*/
  min-width: 150px;
  max-width: 370px;
  width: 100%;
  /*--------make corrections---------*/
  padding: 20px 0;

  @media screen and (min-width: $width-desktop) {
    padding: 40px 0;
  }
}

.sidebar .container {
  margin: 0 10px;
  word-break: break-all;

  @media screen and (min-width: $width-tablet) {
    margin: 0 25px;
  }

  @media screen and (min-width: $width-desktop) {
    margin: 0 40px;
  }
}

.sidebar .container:not(:first-child) {
  @media screen and (min-width: $width-tablet) {
    margin: 0 30px;
  }
}

.sidebar .container + .container {
  margin-top: 30px;

  @media screen and (min-width: $width-tablet) {
    margin-top: 60px;
  }
}

.social .list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin: -5px;
  justify-content: center;
}

.name {
  text-align: center;
}

.photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.icon-contact,
.icon-social {
  height: 18px;
  width: 18px;

  @media screen and (min-width: $width-tablet) {
    height: 24px;
    width: 24px;
  }
}

.link {
  color: $text-color-link;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.social .link {
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $icon-fill;

  @media screen and (min-width: $width-tablet) {
    height: 44px;
    width: 44px;
  }
}

.social .link:hover,
.social .link:focus {
  fill: $accent-color;
}

.sidebar .title {
  color: $title-text-color;
  margin: 0 0 20px 0;

  font-size: $font-size-title-modal;
  font-weight: $semibold;

  @media screen and (min-width: $width-tablet) {
    font-size: $font-size-title-tablet;
  }

  @media screen and (min-width: $width-desktop) {
    font-size: $font-size-title-desktop;
  }
}

.sidebar .text {
  color: $text-color-secondary;
  margin-left: 15px;
}

.skills .item,
.personality .item,
.hobbies .item,
.experience .item,
.education .item {
  color: $accent-color;
  margin-left: 10px;

  @media screen and (min-width: $width-tablet) {
    margin-left: 15px;
  }
}

.mainbar {
  padding: 30px 25px;
  color: $text-color-primary;
  text-align: justify;

  @media screen and (min-width: $width-tablet) {
    padding: 45px 35px;
  }
  @media screen and (min-width: $width-desktop) {
    padding: 60px 50px;
  }
}

.mainbar .container + .container {
  margin-top: 20px;

  @media screen and (min-width: $width-tablet) {
    margin-top: 30px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-top: 40px;
  }
}

.container.description .item {
  list-style: none;
}

.container.description .item + .item {
  margin-top: 15px;
}

.text-highlight {
  font-size: $font-size-subject;
  font-weight: $bold;
}

.mainbar .title {
  margin: 0 0 20px 0;

  font-size: $font-size-title-desktop;
  font-weight: $bold;
}

.mainbar .subject {
  margin: 0 0 10px 0;

  font-size: $font-size-subject;
  font-weight: $bold;
  // line-height: 24px;
}

.mainbar .text {
  margin-left: 15px;

  color: $text-color-primary;
}

.date {
  color: $accent-color;
  font-style: oblique;
}

.block + .block {
  margin-top: 30px;
}

.education .list + .list {
  margin-top: 15px;
}

.education .univercity {
  margin: 0;
}
