$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;

$text-color-primary: #422531;
$text-color-secondary: #ffffff;

$text-color-link: #9885b2;

$title-text-color: #a3a2a2;

$bg-color-mainbar: #ffffff;
$bg-color-layer: #d3bebe;
$bg-color-sidebar: #422531;

$icon-fill: #ffffff;
$accent-color: #c77a8c;

// $function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
// $function-time: 250ms;

$font-family-basic: 'Montserrat', sans-serif;

$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

$font-size-basic: 14px;
$font-size-secondary: 16px;

$font-size-subject: 18px;

$font-size-title-modal: 18px;
$font-size-title-tablet: 22px;
$font-size-title-desktop: 24px;

// $font-spacing-basic: 00.03em;

$font-height-basic: 1.5;
// $font-height-secondary: 1.7;
// $font-height-tertiary: 2;
